<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | HealthLink</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/SignUp.css">
    <link rel="icon" href="./img/healthlink_logo.png">
</head>
<body>

    <!-- Header -->
    <header>
        <a href="/"">
            <img src="/img/healthlink_logo.png" alt="HealthLink Logo" class="logo logo-left">
        </a>
        <h1 class="project-name">HealthLink</h1>
        <img src="/img/ApexLegion.png" alt="HealthLink Logo" class="logo logo-right">
    </header>

    <!-- Sign Up Form -->
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <select name="role" required>
                <option value="" disabled selected>Select your role</option>
                <option value="patient">Sign Up as Patient</option>
                <option value="doctor">Sign Up as Doctor</option>
            </select>
            <button type="submit">Sign Up</button>

            <% if (message) { %>
                <div class="error-message">
                    <p><strong><%= message %></strong></p>
                </div>
            <% } %>
            
        </form>
        <p>Already have an account? <a href="/login" style="color: aqua;">Login here</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 HealthLink. All rights reserved. Developed by Team ApexLegion.</p>
    </footer>

</body>
</html>
